@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
 
}

body {
  color: var(--foreground);
  background: #FFF2EE;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
 
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
